* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.body-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}

/* Sobre mi */

h1 {
  font-size: 1.7rem;
  color: white;
  font-weight: 600;
}

h1 span {
  position: relative;
  color: rgb(64, 189, 251);
}


h1 span::before {
  content: "";
  position: absolute;
  right: -8px;
  top: 50%;
  height: 30px;
  width: 2px;
  background: rgb(64, 189, 251);
  transform: translateY(-45%);
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.texto-presentacion {
  margin: 3rem 1rem 1rem 1rem;
  color: white;
  font-size: medium;
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.iconos {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1rem;
  margin-right: 1rem;
}

.iconos img {
  height: 2rem;
  width: 2rem;
}

.cv {
  border: solid rgb(237, 247, 255);
  background-color: rgba(137, 137, 137, 0.211);
  border-width: 1px;
  margin-left: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.cv a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.cv:hover {
  background-color: rgba(255, 255, 255, 0.317);
  transition: 400ms;
}


/* Proyectos */

.titulo-proyectos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.titulo-proyectos img {
  width: 30px;
  height: 30px;
}

h2 {
  font-size: 2rem;
  color: white;
}

.contenedor-cartas {
  /* background-color: #1318529f; */
  margin-top: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carta {
  width: 90%;
  border: 2px solid rgba(255, 255, 255, 0.406);
  border-radius: 6px;
  overflow: hidden;
 /*  background-color: rgba(0, 44, 154, 0.186); */
  background-color: #2776bb88; 
  margin: 3rem 2rem 2rem 2rem;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
  color: white;
}

.carta:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.contenido-carta {
  margin-top: 1rem;
}


.contenido-carta h3 {
  text-align: center;
}

.imagen {
  width: 100%;
  height: 200px;
  mask-image: linear-gradient(black 85%, transparent);
}


.contenido-carta p {
  margin: 1rem 0.5rem 0 0.5rem;
  text-align: start;
}

.icono-carta {
  margin-top: 0.5rem;
  width: 100%;
}

.link img {
  height: 2rem;
  width: 2rem;
}

.link {
  text-align: end;
  margin-right: 0.5rem;
}

.tecnologias {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-left: 0.5rem;
}

.tecnologias img {
  height: 1rem;
  width: 1rem;
}

.elemento {
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border-radius: 5px;
}

.blender {
  background-color: rgba(255, 166, 0, 0.66);
  border: 1px solid rgb(255, 166, 0);
}

.c-sharp {
  background-color: rgba(191, 132, 239, 0.66);
  border: 1px solid rgb(191, 132, 239);
}

.unity {
  background-color: rgba(28, 26, 29, 0.66);
  border: 1px solid rgb(28, 26, 29);
}

.java {
  background-color: rgba(255, 255, 255, 0.172);
  border: 1px solid rgb(255, 255, 255);
}

.scene-builder {
  background-color: rgba(255, 149, 0, 0.601);
  border: 1px solid rgb(255, 149, 0);
}

.angular {
  background-color: rgba(255, 0, 0, 0.295);
  border: 1px solid rgb(255, 0, 0);
}

.html {
  background-color: rgba(255, 68, 0, 0.569);
  border: 1px solid rgb(255, 68, 0);
}

.css {
  background-color: rgba(0, 0, 255, 0.542);
  border: 1px solid rgb(0, 0, 255);
}

.ts{
    background-color: rgba(0, 81, 255, 0.554);
    border: 1px solid rgb(0, 81, 255);
}

.javascript{
  background-color: rgba(255, 234, 0, 0.698);
  border: 1px solid rgb(255, 234, 0);
}

.react{
  background-color: #00bbff9e;
  border: 1px solid #00bbff;
}

.spring{
  background-color: #00ff1a5e;
  border: 1px solid #00ff1a;
}

.c{
  background-color: #0073ff9e;
  border: 1px solid #0073ff;
}

.mysql{
  background-color: #28749d6d;
  border: 1px solid #28749d;
}

/* Sobre Mi */

.contenedor-sobreMi{
  margin-bottom: 2rem;
}

.titulo-sobreMi{
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.contenedor-informacion-sobreMi{
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.texto-sobreMi{
  margin: 0rem 1rem 0rem 1rem;
  color: white;
  font-size: medium;
  letter-spacing: 1.5px;
}

.sobreMi-imagen {
  position: relative;
  text-align: center;
  width: 50%;
  margin: 0 auto;  /* USAR ESTE CONTENEDOR PARA AGRANDARLO UN POCO Y QUEDE COMO OTRO BORDE */
  background-color: rgba(87, 187, 250, 0.487);
  padding: 10px 10px 5px 10px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.369);
}
.sobreMi-imagen img{
  width: 100%; 
  height: auto;
  position: relative;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.382);
  background-color: rgba(255, 255, 255, 0.633);
}

/* Habilidades */

.contenedor-habilidades{
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.titulo-habilidad h3{
  margin-top: 1rem;
 color: white;
 font-size: 1.3rem;
}

.contenedor-detalles-habilidades {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.titulo-habilidad{
  display: flex;
  flex-direction: column;
}

.habilidades{
  border: 1px solid white;
  height: auto;
  background-color: #2776bb67;
}

.listas-habilidades{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.habilidades li{
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  width: fit-content;
}

.habilidades li p{
  color: rgb(255, 255, 255);
  /* -webkit-text-stroke: 0.5px black; */
}

.habilidad img{
  height: 1rem;
  width: 1rem;
}

.titulo-habilidad img{
  height: 2rem;
  width: 2rem;
}

.habilidad-blanda{
  border: 1px solid #0073ff90;
  background-color: #0073ff90;
}

.blandas{
column-gap: 0.5rem;
margin-left: 0.3rem;
margin-right: 0.3rem;
}

.blandas li{
  width: fit-content;
}

/* Separacion */
.separador{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.8rem;
  color: white;
}

.texto-separador{
  margin-top: 0.8rem;
}

.lineas {
  flex: 1; 
  margin: 0 8px; 
}
/* Fin separacion */

/* Email */

.titulo-mail{
  margin-top: 5rem;
  align-content: center;
}

.mail{
  padding: 0.6rem 1.5rem;
  text-align: center;
  font-size: medium;
  color: white;
  border: 1px solid rgb(9, 111, 255);
  border-radius: 10px;
  background-color: rgba(0, 115, 255, 0.29);
  width: 15rem;
}

.contenedor-mail{
  margin-bottom: 4rem;
}

.contenedor-detalle-mail{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  box-sizing: border-box;
  background: #0073ff39;
  padding: 1rem;
  border-radius: 10px;
}

.contenedor-detalle-mail img{
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}

input.mail:focus{
  outline: none;
}

input.mail::-moz-selection{
  background-color: transparent;
}

/* Alerta */

.alerta {
  background: rgb(123, 199, 243);
  padding: 10px 15px;
  min-width: 200px;
  position: fixed;
  bottom: 10px; 
  right: 10px; 
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  text-align: center;
}

.alerta .mensaje{
  padding: 0 20px;
  font-size: 18px;
  color: white;
}

.alerta.mostrar{
animation: show_slide 1s ease forwards;
}

.alerta.mostrarAlerta{
  opacity: 1;
  pointer-events: auto;
}

@keyframes show_slide{
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(0%);
  }
}

.alerta.esconder{
  animation: esconder_slide 1s ease forwards;
  }

  @keyframes esconder_slide{
    0%{
      transform: translateX(0%);
    }
    40%{
      transform: translateX(-10%);
    }
    100%{
      transform: translateX(110%);
    }
  }
  




/* Mobile */
@media (max-width: 480px) {
  .contenedor-cartas {
    background-color: #2776bb52;  
    padding-top: 4rem;
  }

  .sobreMi-texto {
    margin-top: 2rem;
    flex: 1; 
    width: 100%;
  }
  
  .texto-sobreMi {
    font-size: medium;
    color: white;
    width: 90%;
  }
  
  .contenedor-informacion-sobreMi {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 300px; 
  }
  
  .sobreMi-imagen {
    width: 50%; 
  }
  
  .sobreMi-imagen img {
    width: 100%; 
    display: relative; 
  }

}


/* Extra small devices */
@media (min-width: 481px) and (max-width: 767px) {

  .texto-presentacion {
    width: 70%;
  }

  .links {
    width: 80%;
  }

  .contenedor-cartas {
    background-color: #2776bb52;  
    padding-top: 4rem;
    border-radius: 50px;
  }

  .sobreMi-texto {
    flex: 1; 
    margin-right: 2rem; 
    width: 100%;
  }
  
  .texto-sobreMi {
    font-size: medium;
    color: white;
    width: 95%;
  }
  
  .contenedor-informacion-sobreMi {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0 auto;
    max-width: 900px; 
  }
  
  .sobreMi-imagen {
    width: 25%; 
  }
  
  .sobreMi-imagen img {
    width: 100%; 
    display: relative; 
  }

}


/* Small tablets */
@media (min-width: 768px) and (max-width: 991px) {

  .texto-presentacion {
    font-size: large;
    text-align: left;
    width: 50%;
  }

  .links {
    width: 55%;
  }

  .carta {
    width: 50%;
  }

  .titulo-proyectos img {
    width: 35px;
    height: 35px;
  }

  h2 {
    font-size: 2.5rem;
    color: white;
  }

  .contenedor-cartas {
     background-color: #2776bb52;  
     padding-top: 5rem;
     width: calc(100% - 3rem); 
     border-radius: 50px;
  }

  .sobreMi-texto {
    flex: 1; 
    margin-right: 2rem; 
    width: 100%;
  }
  
  .texto-sobreMi {
    font-size: larger;
    color: white;
    width: 95%;
  }
  
  .contenedor-informacion-sobreMi {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0 auto;
    max-width: 700px; 
  }
  
  .sobreMi-imagen {
    width: 30%; 
  }
  
  .sobreMi-imagen img {
    width: 100%; 
    display: relative; 
  }

  .contenedor-detalles-habilidades{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.habilidades:nth-child(3)
{
  grid-column: -1/-3;
}

.blandas{
  flex-direction: row;
}

.titulo-habilidad img{
  height: 3rem;
  width: 3rem;
}

.titulo-habilidad h3{
 font-size: 1.7rem;
}

.mail{
  font-size: larger;
  width: 18rem;
  }

}

/* Large tablets/laptops */
@media (min-width: 992px) and (max-width: 1199px) {

  h1 {
    font-size: 3rem;
  }

  h1 span::before {
    right: -8px;
    top: 50%;
    height: 30px;
    width: 2px;
  }

  .texto-presentacion {
    font-size: x-large;
    text-align: left;
    width: 50%;
  }

  .links {
    width: 55%;
  }

  .carta {
    width: 45%;
  }

  .imagen {
    width: 100%;
    height: 250px;
  }

  .titulo-proyectos img {
    width: 40px;
    height: 40px;
  }

  h2 {
    font-size: 3rem;
    color: white;
  }

  .contenedor-cartas {
    background-color: #2776bb52;  
    padding-top: 6rem;
    width: calc(100% - 7rem); 
    border-radius: 50px;
  }

  .sobreMi-texto {
    flex: 1; 
    margin-right: 2rem; 
    width: 100%;
  }
  
  .texto-sobreMi {
    font-size: larger;
    color: white;
    width: 95%;
  }
  
  .contenedor-informacion-sobreMi {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0 auto;
    max-width: 900px; 
  }
  
  .sobreMi-imagen {
    width: 25%; 
  }
  
  .sobreMi-imagen img {
    width: 100%; 
    display: relative; 
  }

  .contenedor-detalles-habilidades{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  
  .habilidades:nth-child(3)
  {
    grid-column: -1/-3;
  }
  
  .blandas{
    flex-direction: row;
  }
  
  .titulo-habilidad img{
    height: 3rem;
    width: 3rem;
  }
  
  .titulo-habilidad h3{
   font-size: 2rem;
  }

  .mail{
    font-size: larger;
    width: 18rem;
    }

}

/* Desktops */
@media (min-width: 1200px) and (max-width: 1919px) {

  h1 {
    font-size: 4rem;
  }

  h1 span::before {
    right: -8px;
    top: 50%;
    height: 50px;
    width: 2px;
  }

  .texto-presentacion {
    font-size: x-large;
    text-align: left;
    width: 50%;
  }

  .links {
    width: 53%;
  }

  .carta {
    width: 40%;
  }

  .imagen {
    width: 100%;
    height: 300px;
  }

  .titulo-proyectos img {
    width: 50px;
    height: 50px;
  }

  h2 {
    font-size: 3rem;
    color: white;
  }

  
  .contenedor-cartas {
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #2776bb52;  
    padding-top: 6rem;
    width: calc(100% - 7rem); 
    border-radius: 50px;
  }

  .titulo-proyectos{
    display: flex;
    width: 100%;
  }

  .carta{
    width: calc(43% - 1rem); 
    margin-bottom: 2rem; 
    height: 33rem;
  }

  .link {
    text-align: end;
    margin-right: 0.5rem;
    margin-top: 3rem;
  }

  .tecnologias {
    margin-top: 1rem;
  }

  .sobreMi-texto {
    flex: 1; 
    margin-right: 2rem; 
    width: 100%;
  }
  
  .texto-sobreMi {
    font-size: larger;
    color: white;
    width: 95%;
  }
  
  .contenedor-informacion-sobreMi {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0 auto;
    max-width: 900px; 
  }
  
  .sobreMi-imagen {
    width: 25%; 
  }
  
  .sobreMi-imagen img {
    width: 100%; 
    display: relative; 
  }

  .contenedor-detalles-habilidades{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  
  .habilidades:nth-child(3)
  {
    grid-column: -1/-3;
  }
  
  .blandas{
    flex-direction: row;
  }
  
  .titulo-habilidad img{
    height: 3rem;
    width: 3rem;
  }
  
  .titulo-habilidad h3{
   font-size: 2rem;
  }

  .mail{
    font-size: larger;
    width: 18rem;
    }


}

/* Extra large screens */
@media (min-width: 1920px) and (max-width: 2047px)  {

  h1 {
    font-size: 3rem;
  }

  h1 span::before {
    right: -8px;
    top: 50%;
    height: 50px;
    width: 2px;
  }

  .texto-presentacion {
    font-size: x-large;
    text-align: left;
    width: 40%;
  }

  .links {
    width: 42%;
  }

  .carta {
    width: 30%;
  }

  .imagen {
    width: 100%;
    height: 300px;
  }


  .titulo-proyectos img {
    width: 50px;
    height: 50px;
  }

  h2 {
    font-size: 3.5rem;
    color: white;
  }

  .contenedor-cartas {
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #2776bb52;  
    padding-top: 6rem;
    width: calc(100% - 10rem); 
    border-radius: 50px;
  }

  .titulo-proyectos{
    display: flex;
    width: 100%;
  }

  .carta{
    width: calc(33.33% - 1rem); 
    margin-bottom: 2rem; 
    height: 33rem;
  }

  .link {
    text-align: end;
    margin-right: 0.5rem;
    margin-top: 3rem;
  }

  .tecnologias {
    margin-top: 1rem;
  }

  .sobreMi-texto {
  flex: 1; 
  margin-right: 2rem; 
  width: 100%;
}

.texto-sobreMi {
  font-size: larger;
  color: white;
  width: 95%;
}

.contenedor-informacion-sobreMi {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 0 auto;
  max-width: 900px; 
}

.sobreMi-imagen {
  width: 25%; 
}

.sobreMi-imagen img {
  width: 100%; 
  display: relative; 
}

.contenedor-detalles-habilidades{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.habilidades:nth-child(3)
{
  grid-column: -1/-3;
}

.blandas{
  flex-direction: row;
}

.titulo-habilidad img{
  height: 3rem;
  width: 3rem;
}

.titulo-habilidad h3{
 font-size: 2rem;
}

.habilidades li{
  padding: 0.3rem;
  font-size: larger;
}

.habilidad img{
  height: 1.3rem;
  width: 1.3rem;
}

.texto-separador{
  font-size: large;
}

.mail{
  font-size: larger;
  width: 18rem;
  }

}

@media (min-width: 2048px) {

  
  h1 {
    font-size: 3rem;
  }

  h1 span::before {
    right: -8px;
    top: 50%;
    height: 50px;
    width: 2px;
  }

  .texto-presentacion {
    font-size: x-large;
    text-align: left;
    width: 40%;
  }

  .links {
    width: 42%;
  }

  .carta {
    width: 30%;
  }

  .imagen {
    width: 100%;
    height: 300px;
  }


  .titulo-proyectos img {
    width: 50px;
    height: 50px;
  }

  h2 {
    font-size: 3.5rem;
    color: white;
  }

  .contenedor-cartas {
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #2776bb52;  
    padding-top: 6rem;
    width: calc(100% - 10rem); 
    border-radius: 50px;
  }

  .titulo-proyectos{
    display: flex;
    width: 100%;
  }

  .carta{
    width: calc(33.33% - 1rem); 
    margin-bottom: 2rem; 
    height: 33rem;
  }

  .link {
    text-align: end;
    margin-right: 0.5rem;
    margin-top: 3rem;
  }

  .tecnologias {
    margin-top: 1rem;
  }

  .sobreMi-texto {
    flex: 1; 
    margin-right: 2rem; 
    width: 100%;
  }
  
  .texto-sobreMi {
    font-size: larger;
    color: white;
    width: 95%;
  }
  
  .contenedor-informacion-sobreMi {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0 auto;
    max-width: 900px; 
  }
  
  .sobreMi-imagen {
    width: 25%; 
  }
  
  .sobreMi-imagen img {
    width: 100%; 
    display: relative; 
  }

  .contenedor-detalles-habilidades{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  
  .habilidades:nth-child(3)
  {
    grid-column: -1/-3;
  }
  
  .blandas{
    flex-direction: row;
  }
  
  .titulo-habilidad img{
    height: 3rem;
    width: 3rem;
  }
  
  .titulo-habilidad h3{
   font-size: 2rem;
  }

  .habilidades li{
    padding: 0.3rem;
    font-size: larger;
  }
  
  .habilidades{
    padding: 1rem;
  }
  
  .habilidad img{
    height: 1.3rem;
    width: 1.3rem;
  }

  .texto-separador{
    font-size: large;
  }

  .mail{
    font-size: larger;
    width: 18rem;
    }

}